@use "../../Global";

.c-flex {
  display: flex;
}
.c-flex_spaceBetween {
  justify-content: space-between;
  
}
.c-flex_spaceBetween-center {
  justify-content: space-between;
  align-items: center;
}