.u-avatar {
  margin-top: 100px;
}
.u-group,
.c-card_text {
  margin-top: 30px;
}
.c-card_title,
.p-shop,
.c-list_item {
  margin-top: 40px;
}

.p-contact_btn,
.c-card_item+.c-card_item {
  margin-top: 70px;
}
.c-card-right {
  margin-left: auto;
}

.fa-envelope::before {
  margin-right: 15px;
}