
/* ===============================================
# フォント
=============================================== */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'ヒラギノ角ゴ Pro' ,'Poppins', sans-serif;
}


$f160: 16rem;
$f62: 6.2rem;
$f46: 4.6rem;
$f42: 4.2rem;
$f40: 4rem;
$f30: 3rem;
$f24: 2.4rem;
$f22: 2.2rem;
$f2: 2rem;
$f16: 1.6rem;
$chead: rgb(255, 255, 255);
$ctitle: rgb(43, 43, 43);
$ctext: rgb(0, 0, 0);
$cbg: rgb(237, 237, 237);